* {
    font-family: futura;
    font-weight: bold;
    color: #414141;
}

body {
    background: orange;
}

.loader {
    position: absolute;
    top: 20%;
    bottom: 20%;
    left: 40%;
    right: 40%;
    text-align: center;
    font-size: 35px;
    letter-spacing: .2em
}

.none {
    display: none;
}
